@font-face {
  font-family: 'proximanova';
  src: url('/fonts/Fontspring-DEMO-proximanova-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'proximanova', sans-serif ;
}
.MuiInput-root input::placeholder {
  font-size: 12px !important;
}

.borderClass {
  position: relative;
  border-top-left-radius: 10px;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* .borderClass::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    #002641,
    #002641 5%,
    #002641 60%,
    #002641 95%
  );
  border-right: none;
  border-bottom: none;
  border: solid 1px transparent;
  border-top-left-radius: 8px;
  --gradient-border: conic-gradient(
    from var(--border-angle),
    transparent 70%,
    #002641 72%,
    #e4e4e4 88%,
    transparent
  );
  background: var(--main-bg) padding-box, var(--gradient-border) border-box,
    var(--main-bg) border-box;
} */

.MuiInputBase-input[type="password"] {
  color: #023963 !important;
}

.mainLoader {
  color: #002641 !important;
}

.MuiInputBase-root .MuiInput-root .MuiInput-underline::before {
  color: #002641 !important;
}

.MuiSvgIcon-root {
  height: 18px !important;
}

.makeStyles-drawer-3 {
  animation: drawerAnimation;
  animation-duration: 0.3s;
  animation-direction: normal;
}

.openDrawer .makeStyles-drawer-3 {
  animation: drawerAnimationClose;
  animation-duration: 0.3s;
  animation-direction: normal;
}

@keyframes drawerAnimation {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}

@keyframes drawerAnimationClose {
  from {
    right: 0;
  }
  to {
    right: -100%;
  }
}

.muiDatepickerCustomizer fieldset {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #8a8a8a;
}

.muiDatepickerCustomizer input {
  padding: 8px 0 1px;
  font-size: 12px;
  width: 100%;
}

.datepickerError .MuiFormHelperText-root {
  color: #dc3545;
  margin-left: 0;
}
.datepickerError.muiDatepickerCustomizer label {
  border-color: #dc3545;
}
.muiDatepickerCustomizer.datepickerError fieldset {
  border-color: #dc3545;
}

.scrollbar .MuiDataGrid-scrollbar {
  z-index: 0;
}

.MuiAutocomplete-option {
  min-height: 0px !important;
  padding: 0px !important;
}

.MuiAvatar-root {
  font-size: 14px !important;
  width: 24px !important;
  height: 24px !important;
}

.MuiAutocomplete-inputRoot {
  padding-right: 0px !important;
}

.MuiAutocomplete-listbox {
  max-height: 28vh !important;
}

.MuiInputAdornment-root {
  margin-right: 0px !important;
}

.MuiAvatarGroup-root {
  margin-right: 2px !important;
}

.hide-scrollbar {
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
